<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>H</key>
	<string>H_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>arrowboth</key>
	<string>arrowboth.glif</string>
	<key>arrowdownleft</key>
	<string>arrowdownleft.glif</string>
	<key>arrowdownright</key>
	<string>arrowdownright.glif</string>
	<key>arrowupdn</key>
	<string>arrowupdn.glif</string>
	<key>arrowupleft</key>
	<string>arrowupleft.glif</string>
	<key>arrowupright</key>
	<string>arrowupright.glif</string>
	<key>baguette</key>
	<string>baguette.glif</string>
	<key>ballotboxcheck</key>
	<string>ballotboxcheck.glif</string>
	<key>beveragehot</key>
	<string>beveragehot.glif</string>
	<key>bulletsquare</key>
	<string>bulletsquare.glif</string>
	<key>bulletsquarewhite</key>
	<string>bulletsquarewhite.glif</string>
	<key>butterfly</key>
	<string>butterfly.glif</string>
	<key>canoe</key>
	<string>canoe.glif</string>
	<key>club</key>
	<string>club.glif</string>
	<key>deer</key>
	<string>deer.glif</string>
	<key>diamond</key>
	<string>diamond.glif</string>
	<key>drumwithdrumsticks</key>
	<string>drumwithdrumsticks.glif</string>
	<key>face</key>
	<string>face.glif</string>
	<key>facegrinning</key>
	<string>facegrinning.glif</string>
	<key>facegrinningsmilingeyes</key>
	<string>facegrinningsmilingeyes.glif</string>
	<key>facejoytears</key>
	<string>facejoytears.glif</string>
	<key>facesmile</key>
	<string>facesmile.glif</string>
	<key>facesmilinghalo</key>
	<string>facesmilinghalo.glif</string>
	<key>facesneezing</key>
	<string>facesneezing.glif</string>
	<key>fencer</key>
	<string>fencer.glif</string>
	<key>flatbreadstuffed</key>
	<string>flatbreadstuffed.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>glasstumbler</key>
	<string>glasstumbler.glif</string>
	<key>gloveboxing</key>
	<string>gloveboxing.glif</string>
	<key>goalnet</key>
	<string>goalnet.glif</string>
	<key>gorilla</key>
	<string>gorilla.glif</string>
	<key>gorilla.copy_1</key>
	<string>gorilla.copy_1.glif</string>
	<key>grin</key>
	<string>grin.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>handball</key>
	<string>handball.glif</string>
	<key>heart</key>
	<string>heart.glif</string>
	<key>heartblackheavy</key>
	<string>heartblackheavy.glif</string>
	<key>juggling</key>
	<string>juggling.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lizard</key>
	<string>lizard.glif</string>
	<key>lock</key>
	<string>lock.glif</string>
	<key>medalfirstplace</key>
	<string>medalfirstplace.glif</string>
	<key>medalsecondplace</key>
	<string>medalsecondplace.glif</string>
	<key>medalsports</key>
	<string>medalsports.glif</string>
	<key>medalthirdplace</key>
	<string>medalthirdplace.glif</string>
	<key>mooncrescentwaning</key>
	<string>mooncrescentwaning.glif</string>
	<key>mooncrescentwaxing</key>
	<string>mooncrescentwaxing.glif</string>
	<key>moonfirstquarter</key>
	<string>moonfirstquarter.glif</string>
	<key>moonfull</key>
	<string>moonfull.glif</string>
	<key>moongibbouswaning</key>
	<string>moongibbouswaning.glif</string>
	<key>moongibbouswaxing</key>
	<string>moongibbouswaxing.glif</string>
	<key>moonlastquarter</key>
	<string>moonlastquarter.glif</string>
	<key>moonnew</key>
	<string>moonnew.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>panoffoodshallow</key>
	<string>panoffoodshallow.glif</string>
	<key>pentathlonmodern</key>
	<string>pentathlonmodern.glif</string>
	<key>persondoingcartwheel</key>
	<string>persondoingcartwheel.glif</string>
	<key>polowater</key>
	<string>polowater.glif</string>
	<key>poopile</key>
	<string>poopile.glif</string>
	<key>rhinoceros</key>
	<string>rhinoceros.glif</string>
	<key>rifle</key>
	<string>rifle.glif</string>
	<key>robotface</key>
	<string>robotface.glif</string>
	<key>saladgreen</key>
	<string>saladgreen.glif</string>
	<key>spade</key>
	<string>spade.glif</string>
	<key>spoon</key>
	<string>spoon.glif</string>
	<key>trolleyshopping</key>
	<string>trolleyshopping.glif</string>
	<key>uniformmartialarts</key>
	<string>uniformmartialarts.glif</string>
	<key>wrestlers</key>
	<string>wrestlers.glif</string>
</dict>
</plist>
