<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A.a</key>
	<string>A_.a.glif</string>
	<key>Aregionindicator</key>
	<string>A_regionindicator.glif</string>
	<key>R.a</key>
	<string>R_.a.glif</string>
	<key>Rregionindicator</key>
	<string>R_regionindicator.glif</string>
	<key>TOParrow</key>
	<string>T_O_P_arrow.glif</string>
	<key>acceptideocircle</key>
	<string>acceptideocircle.glif</string>
	<key>advantageideocircle</key>
	<string>advantageideocircle.glif</string>
	<key>airplane</key>
	<string>airplane.glif</string>
	<key>ampersandheavy</key>
	<string>ampersandheavy.glif</string>
	<key>angelbaby</key>
	<string>angelbaby.glif</string>
	<key>automobileoncoming</key>
	<string>automobileoncoming.glif</string>
	<key>baby.copy_1</key>
	<string>baby.copy_1.glif</string>
	<key>baggageclaim</key>
	<string>baggageclaim.glif</string>
	<key>balloonthought</key>
	<string>balloonthought.glif</string>
	<key>ballotboxcheck</key>
	<string>ballotboxcheck.glif</string>
	<key>banknoteeuro</key>
	<string>banknoteeuro.glif</string>
	<key>baseball</key>
	<string>baseball.glif</string>
	<key>beans</key>
	<string>beans.glif</string>
	<key>beans.copy_3</key>
	<string>beans.copy_3.glif</string>
	<key>beermug</key>
	<string>beermug.glif</string>
	<key>beveragehot</key>
	<string>beveragehot.glif</string>
	<key>boy</key>
	<string>boy.glif</string>
	<key>boy.a</key>
	<string>boy.a.glif</string>
	<key>brideveil</key>
	<string>brideveil.glif</string>
	<key>bubblespeechthree</key>
	<string>bubblespeechthree.glif</string>
	<key>bubblespeechtwo</key>
	<string>bubblespeechtwo.glif</string>
	<key>bubblethoughtleft</key>
	<string>bubblethoughtleft.glif</string>
	<key>bubblethoughtright</key>
	<string>bubblethoughtright.glif</string>
	<key>busoncoming</key>
	<string>busoncoming.glif</string>
	<key>busts</key>
	<string>busts.glif</string>
	<key>butterfly</key>
	<string>butterfly.glif</string>
	<key>buttonsquareblack</key>
	<string>buttonsquareblack.glif</string>
	<key>buttonsquarewhite</key>
	<string>buttonsquarewhite.glif</string>
	<key>canoe</key>
	<string>canoe.glif</string>
	<key>carrot</key>
	<string>carrot.glif</string>
	<key>cartwheeler</key>
	<string>cartwheeler.glif</string>
	<key>catfacecrying</key>
	<string>catfacecrying.glif</string>
	<key>catfacegrinningeyessmiling</key>
	<string>catfacegrinningeyessmiling.glif</string>
	<key>catfacejoytears</key>
	<string>catfacejoytears.glif</string>
	<key>catfacekissingeyesclosed</key>
	<string>catfacekissingeyesclosed.glif</string>
	<key>catfacemouthopensmiling</key>
	<string>catfacemouthopensmiling.glif</string>
	<key>catfacepouting</key>
	<string>catfacepouting.glif</string>
	<key>catfacesmilingeyesheartshaped</key>
	<string>catfacesmilingeyesheartshaped.glif</string>
	<key>catfaceweary</key>
	<string>catfaceweary.glif</string>
	<key>catfacewrysmile</key>
	<string>catfacewrysmile.glif</string>
	<key>chopsticks.copy_1</key>
	<string>chopsticks.copy_1.glif</string>
	<key>clockH01M00</key>
	<string>clockH_01M_00.glif</string>
	<key>clockH01M30</key>
	<string>clockH_01M_30.glif</string>
	<key>clockH02M00</key>
	<string>clockH_02M_00.glif</string>
	<key>clockH02M30</key>
	<string>clockH_02M_30.glif</string>
	<key>clockH03M00</key>
	<string>clockH_03M_00.glif</string>
	<key>clockH03M30</key>
	<string>clockH_03M_30.glif</string>
	<key>clockH04M00</key>
	<string>clockH_04M_00.glif</string>
	<key>clockH04M30</key>
	<string>clockH_04M_30.glif</string>
	<key>clockH05M00</key>
	<string>clockH_05M_00.glif</string>
	<key>clockH05M30</key>
	<string>clockH_05M_30.glif</string>
	<key>clockH06M00</key>
	<string>clockH_06M_00.glif</string>
	<key>clockH06M30</key>
	<string>clockH_06M_30.glif</string>
	<key>clockH07M00</key>
	<string>clockH_07M_00.glif</string>
	<key>clockH07M30</key>
	<string>clockH_07M_30.glif</string>
	<key>clockH08M00</key>
	<string>clockH_08M_00.glif</string>
	<key>clockH08M30</key>
	<string>clockH_08M_30.glif</string>
	<key>clockH09M00</key>
	<string>clockH_09M_00.glif</string>
	<key>clockH09M30</key>
	<string>clockH_09M_30.glif</string>
	<key>clockH10M00</key>
	<string>clockH_10M_00.glif</string>
	<key>clockH10M30</key>
	<string>clockH_10M_30.glif</string>
	<key>clockH11M00</key>
	<string>clockH_11M_00.glif</string>
	<key>clockH11M30</key>
	<string>clockH_11M_30.glif</string>
	<key>clockH12M30</key>
	<string>clockH_12M_30.glif</string>
	<key>cloud</key>
	<string>cloud.glif</string>
	<key>cloudlightning</key>
	<string>cloudlightning.glif</string>
	<key>cloudrain</key>
	<string>cloudrain.glif</string>
	<key>cloudsnow</key>
	<string>cloudsnow.glif</string>
	<key>club</key>
	<string>club.glif</string>
	<key>computerpersonal</key>
	<string>computerpersonal.glif</string>
	<key>congratulationideocircle</key>
	<string>congratulationideocircle.glif</string>
	<key>constructionworker</key>
	<string>constructionworker.glif</string>
	<key>couplehandsFF</key>
	<string>couplehandsF_F_.glif</string>
	<key>couplehandsMF</key>
	<string>couplehandsM_F_.glif</string>
	<key>couplehandsMM</key>
	<string>couplehandsM_M_.glif</string>
	<key>coupleheartFF</key>
	<string>coupleheartF_F_.glif</string>
	<key>coupleheartFM</key>
	<string>coupleheartF_M_.glif</string>
	<key>coupleheartMF</key>
	<string>coupleheartM_F_.glif</string>
	<key>coupleheartMM</key>
	<string>coupleheartM_M_.glif</string>
	<key>cowboy</key>
	<string>cowboy.glif</string>
	<key>cowboy.copy_1</key>
	<string>cowboy.copy_1.glif</string>
	<key>crossceltic</key>
	<string>crossceltic.glif</string>
	<key>crosslatin</key>
	<string>crosslatin.glif</string>
	<key>crosslatinheavy</key>
	<string>crosslatinheavy.glif</string>
	<key>crosslatinwhite</key>
	<string>crosslatinwhite.glif</string>
	<key>crossorthodox</key>
	<string>crossorthodox.glif</string>
	<key>deer</key>
	<string>deer.glif</string>
	<key>divideideosquare</key>
	<string>divideideosquare.glif</string>
	<key>dollarheavy</key>
	<string>dollarheavy.glif</string>
	<key>doughnut</key>
	<string>doughnut.glif</string>
	<key>drinkcocktail</key>
	<string>drinkcocktail.glif</string>
	<key>drinktropical</key>
	<string>drinktropical.glif</string>
	<key>drinkwine</key>
	<string>drinkwine.glif</string>
	<key>drum</key>
	<string>drum.glif</string>
	<key>dumpling</key>
	<string>dumpling.glif</string>
	<key>email</key>
	<string>email.glif</string>
	<key>envelope</key>
	<string>envelope.glif</string>
	<key>envelopearrowndown</key>
	<string>envelopearrowndown.glif</string>
	<key>envelopeback</key>
	<string>envelopeback.glif</string>
	<key>envelopeflying</key>
	<string>envelopeflying.glif</string>
	<key>envelopeincoming</key>
	<string>envelopeincoming.glif</string>
	<key>envelopelightning</key>
	<string>envelopelightning.glif</string>
	<key>envelopestamped</key>
	<string>envelopestamped.glif</string>
	<key>envelopestampedpen</key>
	<string>envelopestampedpen.glif</string>
	<key>eyesrolling</key>
	<string>eyesrolling.glif</string>
	<key>eyessquinting.copy_1</key>
	<string>eyessquinting.copy_1.glif</string>
	<key>facecat</key>
	<string>facecat.glif</string>
	<key>facecattears</key>
	<string>facecattears.glif</string>
	<key>facecowboy</key>
	<string>facecowboy.glif</string>
	<key>facecowboy.m</key>
	<string>facecowboy.m.glif</string>
	<key>facecrying</key>
	<string>facecrying.glif</string>
	<key>facecryingloudly</key>
	<string>facecryingloudly.glif</string>
	<key>facecryingloudly.copy_1</key>
	<string>facecryingloudly.copy_1.glif</string>
	<key>facecryingloudly.copy_2</key>
	<string>facecryingloudly.copy_2.glif</string>
	<key>facedrooling</key>
	<string>facedrooling.glif</string>
	<key>faceeyesrolling</key>
	<string>faceeyesrolling.glif</string>
	<key>facegrimacing</key>
	<string>facegrimacing.glif</string>
	<key>facejoytears</key>
	<string>facejoytears.glif</string>
	<key>facemedicalmask</key>
	<string>facemedicalmask.glif</string>
	<key>facemmouthmoney</key>
	<string>facemmouthmoney.glif</string>
	<key>facenauseated</key>
	<string>facenauseated.glif</string>
	<key>facenerd</key>
	<string>facenerd.glif</string>
	<key>facesavouringdeliciousfood</key>
	<string>facesavouringdeliciousfood.glif</string>
	<key>facesleeping</key>
	<string>facesleeping.glif</string>
	<key>facesleepy</key>
	<string>facesleepy.glif</string>
	<key>facesmilinghalo.copy_1</key>
	<string>facesmilinghalo.copy_1.glif</string>
	<key>facesneezing.u</key>
	<string>facesneezing.u.glif</string>
	<key>facethrowingakiss</key>
	<string>facethrowingakiss.glif</string>
	<key>familyFFf</key>
	<string>familyF_F_f.glif</string>
	<key>familyFFff</key>
	<string>familyF_F_ff.glif</string>
	<key>familyFFfm</key>
	<string>familyF_F_fm.glif</string>
	<key>familyFFm</key>
	<string>familyF_F_m.glif</string>
	<key>familyFFmf</key>
	<string>familyF_F_mf.glif</string>
	<key>familyFFmm</key>
	<string>familyF_F_mm.glif</string>
	<key>familyFf</key>
	<string>familyF_f.glif</string>
	<key>familyFff</key>
	<string>familyF_ff.glif</string>
	<key>familyFfm</key>
	<string>familyF_fm.glif</string>
	<key>familyFm</key>
	<string>familyF_m.glif</string>
	<key>familyFmf</key>
	<string>familyF_mf.glif</string>
	<key>familyFmm</key>
	<string>familyF_mm.glif</string>
	<key>familyMFf</key>
	<string>familyM_F_f.glif</string>
	<key>familyMFff</key>
	<string>familyM_F_ff.glif</string>
	<key>familyMFfm</key>
	<string>familyM_F_fm.glif</string>
	<key>familyMFm</key>
	<string>familyM_F_m.glif</string>
	<key>familyMFmf</key>
	<string>familyM_F_mf.glif</string>
	<key>familyMFmm</key>
	<string>familyM_F_mm.glif</string>
	<key>familyMMf</key>
	<string>familyM_M_f.glif</string>
	<key>familyMMff</key>
	<string>familyM_M_ff.glif</string>
	<key>familyMMfm</key>
	<string>familyM_M_fm.glif</string>
	<key>familyMMm</key>
	<string>familyM_M_m.glif</string>
	<key>familyMMmf</key>
	<string>familyM_M_mf.glif</string>
	<key>familyMMmm</key>
	<string>familyM_M_mm.glif</string>
	<key>familyMf</key>
	<string>familyM_f.glif</string>
	<key>familyMff</key>
	<string>familyM_ff.glif</string>
	<key>familyMfm</key>
	<string>familyM_fm.glif</string>
	<key>familyMm</key>
	<string>familyM_m.glif</string>
	<key>familyMmf</key>
	<string>familyM_mf.glif</string>
	<key>familyMmm</key>
	<string>familyM_mm.glif</string>
	<key>fencer</key>
	<string>fencer.glif</string>
	<key>fingerideosquare</key>
	<string>fingerideosquare.glif</string>
	<key>flagAfghanistan</key>
	<string>flagA_fghanistan.glif</string>
	<key>flagAlbania</key>
	<string>flagA_lbania.glif</string>
	<key>flagAmericanSamoa</key>
	<string>flagA_mericanS_amoa.glif</string>
	<key>flagAndorra</key>
	<string>flagA_ndorra.glif</string>
	<key>flagAngola</key>
	<string>flagA_ngola.glif</string>
	<key>flagAnguilla</key>
	<string>flagA_nguilla.glif</string>
	<key>flagAntarctica</key>
	<string>flagA_ntarctica.glif</string>
	<key>flagAntiguaBarbuda</key>
	<string>flagA_ntiguaB_arbuda.glif</string>
	<key>flagAolandIslands</key>
	<string>flagA_olandI_slands.glif</string>
	<key>flagArgentina</key>
	<string>flagA_rgentina.glif</string>
	<key>flagArmenia</key>
	<string>flagA_rmenia.glif</string>
	<key>flagAruba</key>
	<string>flagA_ruba.glif</string>
	<key>flagAscensionIsland</key>
	<string>flagA_scensionI_sland.glif</string>
	<key>flagAustralia</key>
	<string>flagA_ustralia.glif</string>
	<key>flagAustria</key>
	<string>flagA_ustria.glif</string>
	<key>flagAzerbaijan</key>
	<string>flagA_zerbaijan.glif</string>
	<key>flagBermuda</key>
	<string>flagB_ermuda.glif</string>
	<key>flagBosniaHerzegovina</key>
	<string>flagB_osniaH_erzegovina.glif</string>
	<key>flagBotswana</key>
	<string>flagB_otswana.glif</string>
	<key>flagBrazil</key>
	<string>flagB_razil.glif</string>
	<key>flagCameroon</key>
	<string>flagC_ameroon.glif</string>
	<key>flagCanada</key>
	<string>flagC_anada.glif</string>
	<key>flagCeutaMelilla</key>
	<string>flagC_eutaM_elilla.glif</string>
	<key>flagComoros</key>
	<string>flagC_omoros.glif</string>
	<key>flagCostaRica</key>
	<string>flagC_ostaR_ica.glif</string>
	<key>flagCroatia</key>
	<string>flagC_roatia.glif</string>
	<key>flagCuraczao</key>
	<string>flagC_uraczao.glif</string>
	<key>flagDominica</key>
	<string>flagD_ominica.glif</string>
	<key>flagEritrea</key>
	<string>flagE_ritrea.glif</string>
	<key>flagFrance</key>
	<string>flagF_rance.glif</string>
	<key>flagGabon</key>
	<string>flagG_abon.glif</string>
	<key>flagGreece</key>
	<string>flagG_reece.glif</string>
	<key>flagGuineaBissau</key>
	<string>flagG_uineaB_issau.glif</string>
	<key>flagIran</key>
	<string>flagI_ran.glif</string>
	<key>flagKuwait</key>
	<string>flagK_uwait.glif</string>
	<key>flagLaos</key>
	<string>flagL_aos.glif</string>
	<key>flagLiberia</key>
	<string>flagL_iberia.glif</string>
	<key>flagMacau</key>
	<string>flagM_acau.glif</string>
	<key>flagMadagascar</key>
	<string>flagM_adagascar.glif</string>
	<key>flagMalawi</key>
	<string>flagM_alawi.glif</string>
	<key>flagMalaysia</key>
	<string>flagM_alaysia.glif</string>
	<key>flagMaldives</key>
	<string>flagM_aldives.glif</string>
	<key>flagMalta</key>
	<string>flagM_alta.glif</string>
	<key>flagMartinique</key>
	<string>flagM_artinique.glif</string>
	<key>flagMauritania</key>
	<string>flagM_auritania.glif</string>
	<key>flagMexico</key>
	<string>flagM_exico.glif</string>
	<key>flagMonaco</key>
	<string>flagM_onaco.glif</string>
	<key>flagMongolia</key>
	<string>flagM_ongolia.glif</string>
	<key>flagMorocco</key>
	<string>flagM_orocco.glif</string>
	<key>flagMyanmar</key>
	<string>flagM_yanmar.glif</string>
	<key>flagNamibia</key>
	<string>flagN_amibia.glif</string>
	<key>flagNauru</key>
	<string>flagN_auru.glif</string>
	<key>flagPalau</key>
	<string>flagP_alau.glif</string>
	<key>flagPanama</key>
	<string>flagP_anama.glif</string>
	<key>flagPuertoRico</key>
	<string>flagP_uertoR_ico.glif</string>
	<key>flagQatar</key>
	<string>flagQ_atar.glif</string>
	<key>flagReunion</key>
	<string>flagR_eunion.glif</string>
	<key>flagRomania</key>
	<string>flagR_omania.glif</string>
	<key>flagRussia</key>
	<string>flagR_ussia.glif</string>
	<key>flagRwanda</key>
	<string>flagR_wanda.glif</string>
	<key>flagSamoa</key>
	<string>flagS_amoa.glif</string>
	<key>flagSaudiArabia</key>
	<string>flagS_audiA_rabia.glif</string>
	<key>flagSerbia</key>
	<string>flagS_erbia.glif</string>
	<key>flagSouthAfrica</key>
	<string>flagS_outhA_frica.glif</string>
	<key>flagSouthKorea</key>
	<string>flagS_outhK_orea.glif</string>
	<key>flagStKittsNevis</key>
	<string>flagS_tK_ittsN_evis.glif</string>
	<key>flagStPierreMiquelon</key>
	<string>flagS_tP_ierreM_iquelon.glif</string>
	<key>flagSuriname</key>
	<string>flagS_uriname.glif</string>
	<key>flagTaiwan</key>
	<string>flagT_aiwan.glif</string>
	<key>flagTristandaCunha</key>
	<string>flagT_ristandaC_unha.glif</string>
	<key>flagTurkey</key>
	<string>flagT_urkey.glif</string>
	<key>flagTurkmenistan</key>
	<string>flagT_urkmenistan.glif</string>
	<key>flagUkraine</key>
	<string>flagU_kraine.glif</string>
	<key>flagUnitedArabEmirates</key>
	<string>flagU_nitedA_rabE_mirates.glif</string>
	<key>flagVaticanCity</key>
	<string>flagV_aticanC_ity.glif</string>
	<key>flagWallisFutuna</key>
	<string>flagW_allisF_utuna.glif</string>
	<key>flagZimbabwe</key>
	<string>flagZ_imbabwe.glif</string>
	<key>flatbread</key>
	<string>flatbread.glif</string>
	<key>fleurdelis</key>
	<string>fleurdelis.glif</string>
	<key>foodpan</key>
	<string>foodpan.glif</string>
	<key>foodpan.u</key>
	<string>foodpan.u.glif</string>
	<key>foodpan.u.copy_1</key>
	<string>foodpan.u.copy_1.glif</string>
	<key>footballamerican</key>
	<string>footballamerican.glif</string>
	<key>footballrugby</key>
	<string>footballrugby.glif</string>
	<key>fortunecookie</key>
	<string>fortunecookie.glif</string>
	<key>foxface</key>
	<string>foxface.glif</string>
	<key>fulnessideosquare</key>
	<string>fulnessideosquare.glif</string>
	<key>girl</key>
	<string>girl.glif</string>
	<key>girl.a</key>
	<string>girl.a.glif</string>
	<key>girl.b</key>
	<string>girl.b.glif</string>
	<key>girl.copy_1</key>
	<string>girl.copy_1.glif</string>
	<key>globeamericas</key>
	<string>globeamericas.glif</string>
	<key>globeasiaaustralia</key>
	<string>globeasiaaustralia.glif</string>
	<key>globeeuropeafrica</key>
	<string>globeeuropeafrica.glif</string>
	<key>globemeridians</key>
	<string>globemeridians.glif</string>
	<key>goalnet</key>
	<string>goalnet.glif</string>
	<key>gorilla</key>
	<string>gorilla.glif</string>
	<key>guardsman</key>
	<string>guardsman.glif</string>
	<key>haircut</key>
	<string>haircut.glif</string>
	<key>hairgirl</key>
	<string>hairgirl.glif</string>
	<key>hairgirl.a</key>
	<string>hairgirl.a.glif</string>
	<key>hairgirl.b</key>
	<string>hairgirl.b.glif</string>
	<key>hairwoman</key>
	<string>hairwoman.glif</string>
	<key>hairwoman.a</key>
	<string>hairwoman.a.glif</string>
	<key>hairwoman.b</key>
	<string>hairwoman.b.glif</string>
	<key>hairwoman.c</key>
	<string>hairwoman.c.glif</string>
	<key>handball</key>
	<string>handball.glif</string>
	<key>handfingerssplayed</key>
	<string>handfingerssplayed.glif</string>
	<key>headwoman</key>
	<string>headwoman.glif</string>
	<key>heartcoupleFF</key>
	<string>heartcoupleF_F_.glif</string>
	<key>heartcoupleFM</key>
	<string>heartcoupleF_M_.glif</string>
	<key>heartcoupleMM</key>
	<string>heartcoupleM_M_.glif</string>
	<key>horns.copy_1</key>
	<string>horns.copy_1.glif</string>
	<key>joker</key>
	<string>joker.glif</string>
	<key>juggling</key>
	<string>juggling.glif</string>
	<key>keycapcmb</key>
	<string>keycapcmb.glif</string>
	<key>kissFF</key>
	<string>kissF_F_.glif</string>
	<key>kissFM</key>
	<string>kissF_M_.glif</string>
	<key>kissMF</key>
	<string>kissM_F_.glif</string>
	<key>kissMM</key>
	<string>kissM_M_.glif</string>
	<key>kisswoman</key>
	<string>kisswoman.glif</string>
	<key>kiwifruit</key>
	<string>kiwifruit.glif</string>
	<key>leftluggage</key>
	<string>leftluggage.glif</string>
	<key>lemon</key>
	<string>lemon.glif</string>
	<key>lionface</key>
	<string>lionface.glif</string>
	<key>lizard</key>
	<string>lizard.glif</string>
	<key>loveletter</key>
	<string>loveletter.glif</string>
	<key>man</key>
	<string>man.glif</string>
	<key>man.a</key>
	<string>man.a.glif</string>
	<key>man.a.copy_1</key>
	<string>man.a.copy_1.glif</string>
	<key>man.k</key>
	<string>man.k.glif</string>
	<key>manguapimao</key>
	<string>manguapimao.glif</string>
	<key>mankissing</key>
	<string>mankissing.glif</string>
	<key>mankissing.a</key>
	<string>mankissing.a.glif</string>
	<key>manold</key>
	<string>manold.glif</string>
	<key>manturban</key>
	<string>manturban.glif</string>
	<key>mantuxedo</key>
	<string>mantuxedo.glif</string>
	<key>martialarts</key>
	<string>martialarts.glif</string>
	<key>massageface</key>
	<string>massageface.glif</string>
	<key>mensroom</key>
	<string>mensroom.glif</string>
	<key>milkglass</key>
	<string>milkglass.glif</string>
	<key>missesclaus</key>
	<string>missesclaus.glif</string>
	<key>mobilephoneno</key>
	<string>mobilephoneno.glif</string>
	<key>moonideosquare</key>
	<string>moonideosquare.glif</string>
	<key>mouth</key>
	<string>mouth.glif</string>
	<key>mouthgrin</key>
	<string>mouthgrin.glif</string>
	<key>mouthgritting</key>
	<string>mouthgritting.glif</string>
	<key>musicalnotesascending</key>
	<string>musicalnotesascending.glif</string>
	<key>musicalnotesdescending</key>
	<string>musicalnotesdescending.glif</string>
	<key>no</key>
	<string>no.glif</string>
	<key>nobicycles</key>
	<string>nobicycles.glif</string>
	<key>nolitter</key>
	<string>nolitter.glif</string>
	<key>nooneundereighteen</key>
	<string>nooneundereighteen.glif</string>
	<key>nopedestrians</key>
	<string>nopedestrians.glif</string>
	<key>nopiracy</key>
	<string>nopiracy.glif</string>
	<key>nosmoking</key>
	<string>nosmoking.glif</string>
	<key>notesmusical</key>
	<string>notesmusical.glif</string>
	<key>om</key>
	<string>om.glif</string>
	<key>owl</key>
	<string>owl.glif</string>
	<key>pancake.copy_1</key>
	<string>pancake.copy_1.glif</string>
	<key>pancakes</key>
	<string>pancakes.glif</string>
	<key>paperclipslinked</key>
	<string>paperclipslinked.glif</string>
	<key>peace</key>
	<string>peace.glif</string>
	<key>peanut</key>
	<string>peanut.glif</string>
	<key>pentathlon</key>
	<string>pentathlon.glif</string>
	<key>personblond</key>
	<string>personblond.glif</string>
	<key>personinfodesk</key>
	<string>personinfodesk.glif</string>
	<key>policecaroncoming</key>
	<string>policecaroncoming.glif</string>
	<key>policeofficer</key>
	<string>policeofficer.glif</string>
	<key>polowater</key>
	<string>polowater.glif</string>
	<key>popcorn</key>
	<string>popcorn.glif</string>
	<key>princess</key>
	<string>princess.glif</string>
	<key>prohibited</key>
	<string>prohibited.glif</string>
	<key>prohibitideosquare</key>
	<string>prohibitideosquare.glif</string>
	<key>recycle</key>
	<string>recycle.glif</string>
	<key>recyclingblack</key>
	<string>recyclingblack.glif</string>
	<key>restroom</key>
	<string>restroom.glif</string>
	<key>rhinoceros</key>
	<string>rhinoceros.glif</string>
	<key>rifle</key>
	<string>rifle.glif</string>
	<key>robotface</key>
	<string>robotface.glif</string>
	<key>rose.copy_1</key>
	<string>rose.copy_1.glif</string>
	<key>sakatakanasquare</key>
	<string>sakatakanasquare.glif</string>
	<key>salad</key>
	<string>salad.glif</string>
	<key>santaclaus</key>
	<string>santaclaus.glif</string>
	<key>selfie</key>
	<string>selfie.glif</string>
	<key>shrimp</key>
	<string>shrimp.glif</string>
	<key>shrug</key>
	<string>shrug.glif</string>
	<key>snowflake</key>
	<string>snowflake.glif</string>
	<key>snowman</key>
	<string>snowman.glif</string>
	<key>snowmanwithoutsnow</key>
	<string>snowmanwithoutsnow.glif</string>
	<key>spade</key>
	<string>spade.glif</string>
	<key>squid</key>
	<string>squid.glif</string>
	<key>stardavid</key>
	<string>stardavid.glif</string>
	<key>starsixpointdotted</key>
	<string>starsixpointdotted.glif</string>
	<key>takeout</key>
	<string>takeout.glif</string>
	<key>takeout.copy_2</key>
	<string>takeout.copy_2.glif</string>
	<key>takeout.u</key>
	<string>takeout.u.glif</string>
	<key>taxioncoming</key>
	<string>taxioncoming.glif</string>
	<key>telephonereceiver</key>
	<string>telephonereceiver.glif</string>
	<key>trolley</key>
	<string>trolley.glif</string>
	<key>umbrella</key>
	<string>umbrella.glif</string>
	<key>volleyball</key>
	<string>volleyball.glif</string>
	<key>waternonpotable</key>
	<string>waternonpotable.glif</string>
	<key>woman</key>
	<string>woman.glif</string>
	<key>woman.a</key>
	<string>woman.a.glif</string>
	<key>woman.b</key>
	<string>woman.b.glif</string>
	<key>woman.c</key>
	<string>woman.c.glif</string>
	<key>womanbunnyears</key>
	<string>womanbunnyears.glif</string>
	<key>womankissing</key>
	<string>womankissing.glif</string>
	<key>womankissing.a</key>
	<string>womankissing.a.glif</string>
	<key>womankissing.b</key>
	<string>womankissing.b.glif</string>
	<key>womankissing.c</key>
	<string>womankissing.c.glif</string>
	<key>womanold</key>
	<string>womanold.glif</string>
	<key>womensroom</key>
	<string>womensroom.glif</string>
	<key>wrestlers</key>
	<string>wrestlers.glif</string>
</dict>
</plist>
