<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ballotboxcheck</key>
	<string>ballotboxcheck.glif</string>
	<key>beveragehot</key>
	<string>beveragehot.glif</string>
	<key>butterfly</key>
	<string>butterfly.glif</string>
	<key>canoe</key>
	<string>canoe.glif</string>
	<key>club</key>
	<string>club.glif</string>
	<key>deer</key>
	<string>deer.glif</string>
	<key>deer.copy_1</key>
	<string>deer.copy_1.glif</string>
	<key>drumwithdrumsticks</key>
	<string>drumwithdrumsticks.glif</string>
	<key>facegrinning</key>
	<string>facegrinning.glif</string>
	<key>facegrinningsmilingeyes</key>
	<string>facegrinningsmilingeyes.glif</string>
	<key>facehugging</key>
	<string>facehugging.glif</string>
	<key>facejoytears</key>
	<string>facejoytears.glif</string>
	<key>facesneezing</key>
	<string>facesneezing.glif</string>
	<key>fencer</key>
	<string>fencer.glif</string>
	<key>flatbreadstuffed</key>
	<string>flatbreadstuffed.glif</string>
	<key>goalnet</key>
	<string>goalnet.glif</string>
	<key>goalnet.copy_1</key>
	<string>goalnet.copy_1.glif</string>
	<key>gorilla</key>
	<string>gorilla.glif</string>
	<key>gorilla.copy_1</key>
	<string>gorilla.copy_1.glif</string>
	<key>gorilla.copy_2</key>
	<string>gorilla.copy_2.glif</string>
	<key>handball</key>
	<string>handball.glif</string>
	<key>juggling</key>
	<string>juggling.glif</string>
	<key>lizard</key>
	<string>lizard.glif</string>
	<key>panoffoodshallow</key>
	<string>panoffoodshallow.glif</string>
	<key>pentathlonmodern</key>
	<string>pentathlonmodern.glif</string>
	<key>persondoingcartwheel</key>
	<string>persondoingcartwheel.glif</string>
	<key>polowater</key>
	<string>polowater.glif</string>
	<key>polowater.copy_1</key>
	<string>polowater.copy_1.glif</string>
	<key>rhinoceros</key>
	<string>rhinoceros.glif</string>
	<key>rhinoceros.copy_1</key>
	<string>rhinoceros.copy_1.glif</string>
	<key>rifle</key>
	<string>rifle.glif</string>
	<key>robotface</key>
	<string>robotface.glif</string>
	<key>saladgreen</key>
	<string>saladgreen.glif</string>
	<key>spade</key>
	<string>spade.glif</string>
	<key>trolleyshopping</key>
	<string>trolleyshopping.glif</string>
	<key>uniformmartialarts</key>
	<string>uniformmartialarts.glif</string>
	<key>wrestlers</key>
	<string>wrestlers.glif</string>
</dict>
</plist>
