<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Aregionindicator</key>
	<string>Aregionindicator_.glif</string>
	<key>Asquareblack</key>
	<string>Asquareblack_.glif</string>
	<key>Bregionindicator</key>
	<string>Bregionindicator_.glif</string>
	<key>Bsquareblack</key>
	<string>Bsquareblack_.glif</string>
	<key>CLsquare</key>
	<string>CLsquare_.glif</string>
	<key>COOLsquare</key>
	<string>COOLsquare_.glif</string>
	<key>Cregionindicator</key>
	<string>Cregionindicator_.glif</string>
	<key>Dregionindicator</key>
	<string>Dregionindicator_.glif</string>
	<key>Eregionindicator</key>
	<string>Eregionindicator_.glif</string>
	<key>FREEsquare</key>
	<string>FREEsquare_.glif</string>
	<key>Fregionindicator</key>
	<string>Fregionindicator_.glif</string>
	<key>Gregionindicator</key>
	<string>Gregionindicator_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hregionindicator</key>
	<string>Hregionindicator_.glif</string>
	<key>IDsquare</key>
	<string>IDsquare_.glif</string>
	<key>Iregionindicator</key>
	<string>Iregionindicator_.glif</string>
	<key>Jregionindicator</key>
	<string>Jregionindicator_.glif</string>
	<key>Kregionindicator</key>
	<string>Kregionindicator_.glif</string>
	<key>Lregionindicator</key>
	<string>Lregionindicator_.glif</string>
	<key>Mregionindicator</key>
	<string>Mregionindicator_.glif</string>
	<key>NEWsquare</key>
	<string>NEWsquare_.glif</string>
	<key>NGsquare</key>
	<string>NGsquare_.glif</string>
	<key>Nregionindicator</key>
	<string>Nregionindicator_.glif</string>
	<key>OKsquare</key>
	<string>OKsquare_.glif</string>
	<key>Oregionindicator</key>
	<string>Oregionindicator_.glif</string>
	<key>Osquareblack</key>
	<string>Osquareblack_.glif</string>
	<key>Pregionindicator</key>
	<string>Pregionindicator_.glif</string>
	<key>Psquareblack</key>
	<string>Psquareblack_.glif</string>
	<key>Qregionindicator</key>
	<string>Qregionindicator_.glif</string>
	<key>Rregionindicator</key>
	<string>Rregionindicator_.glif</string>
	<key>SOSsquare</key>
	<string>SOSsquare_.glif</string>
	<key>Sregionindicator</key>
	<string>Sregionindicator_.glif</string>
	<key>Tregionindicator</key>
	<string>Tregionindicator_.glif</string>
	<key>UPexclamsquare</key>
	<string>UPexclamsquare_.glif</string>
	<key>Uregionindicator</key>
	<string>Uregionindicator_.glif</string>
	<key>VSsquare</key>
	<string>VSsquare_.glif</string>
	<key>Vregionindicator</key>
	<string>Vregionindicator_.glif</string>
	<key>Wregionindicator</key>
	<string>Wregionindicator_.glif</string>
	<key>Xregionindicator</key>
	<string>Xregionindicator_.glif</string>
	<key>Yregionindicator</key>
	<string>Yregionindicator_.glif</string>
	<key>Zregionindicator</key>
	<string>Zregionindicator_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>alien</key>
	<string>alien.glif</string>
	<key>arrowboth</key>
	<string>arrowboth.glif</string>
	<key>arrowdownleft</key>
	<string>arrowdownleft.glif</string>
	<key>arrowdownright</key>
	<string>arrowdownright.glif</string>
	<key>arrowupdn</key>
	<string>arrowupdn.glif</string>
	<key>arrowupleft</key>
	<string>arrowupleft.glif</string>
	<key>arrowupright</key>
	<string>arrowupright.glif</string>
	<key>baguette</key>
	<string>baguette.glif</string>
	<key>ballotboxcheck</key>
	<string>ballotboxcheck.glif</string>
	<key>beveragehot</key>
	<string>beveragehot.glif</string>
	<key>bulletsquare</key>
	<string>bulletsquare.glif</string>
	<key>bulletsquarewhite</key>
	<string>bulletsquarewhite.glif</string>
	<key>butterfly</key>
	<string>butterfly.glif</string>
	<key>canoe</key>
	<string>canoe.glif</string>
	<key>catfacecrying</key>
	<string>catfacecrying.glif</string>
	<key>catfacekissingclosedeyes</key>
	<string>catfacekissingclosedeyes.glif</string>
	<key>catfacepouting</key>
	<string>catfacepouting.glif</string>
	<key>catfacewrysmile</key>
	<string>catfacewrysmile.glif</string>
	<key>cheese</key>
	<string>cheese.glif</string>
	<key>club</key>
	<string>club.glif</string>
	<key>deer</key>
	<string>deer.glif</string>
	<key>deer.copy_1</key>
	<string>deer.copy_1.glif</string>
	<key>diamond</key>
	<string>diamond.glif</string>
	<key>drumwithdrumsticks</key>
	<string>drumwithdrumsticks.glif</string>
	<key>face</key>
	<string>face.glif</string>
	<key>faceangry</key>
	<string>faceangry.glif</string>
	<key>faceanguished</key>
	<string>faceanguished.glif</string>
	<key>faceastonished</key>
	<string>faceastonished.glif</string>
	<key>facebandage</key>
	<string>facebandage.glif</string>
	<key>facecoldsweat</key>
	<string>facecoldsweat.glif</string>
	<key>faceconfounded</key>
	<string>faceconfounded.glif</string>
	<key>faceconfused</key>
	<string>faceconfused.glif</string>
	<key>facecrying</key>
	<string>facecrying.glif</string>
	<key>facedisappointed</key>
	<string>facedisappointed.glif</string>
	<key>facedisappointedbutrelieved</key>
	<string>facedisappointedbutrelieved.glif</string>
	<key>facedizzy</key>
	<string>facedizzy.glif</string>
	<key>faceexpressionless</key>
	<string>faceexpressionless.glif</string>
	<key>faceeyesrolling</key>
	<string>faceeyesrolling.glif</string>
	<key>facefearful</key>
	<string>facefearful.glif</string>
	<key>faceflushed</key>
	<string>faceflushed.glif</string>
	<key>facefrowningopenmouth</key>
	<string>facefrowningopenmouth.glif</string>
	<key>facegrimacing</key>
	<string>facegrimacing.glif</string>
	<key>facegrinning</key>
	<string>facegrinning.glif</string>
	<key>facegrinningsmilingeyes</key>
	<string>facegrinningsmilingeyes.glif</string>
	<key>facehugging</key>
	<string>facehugging.glif</string>
	<key>facehushed</key>
	<string>facehushed.glif</string>
	<key>facejoytears</key>
	<string>facejoytears.glif</string>
	<key>facekissing</key>
	<string>facekissing.glif</string>
	<key>facekissingclosedeyes</key>
	<string>facekissingclosedeyes.glif</string>
	<key>facekissingsmilingeyes</key>
	<string>facekissingsmilingeyes.glif</string>
	<key>faceloudlycrying</key>
	<string>faceloudlycrying.glif</string>
	<key>facemassage</key>
	<string>facemassage.glif</string>
	<key>facemedicalmask</key>
	<string>facemedicalmask.glif</string>
	<key>facemmouthmoney</key>
	<string>facemmouthmoney.glif</string>
	<key>facemouthzipper</key>
	<string>facemouthzipper.glif</string>
	<key>facenerd</key>
	<string>facenerd.glif</string>
	<key>faceneutral</key>
	<string>faceneutral.glif</string>
	<key>facenogood</key>
	<string>facenogood.glif</string>
	<key>faceok</key>
	<string>faceok.glif</string>
	<key>faceopenmouth</key>
	<string>faceopenmouth.glif</string>
	<key>faceopenmouthcoldsweat</key>
	<string>faceopenmouthcoldsweat.glif</string>
	<key>facepensive</key>
	<string>facepensive.glif</string>
	<key>facepersevering</key>
	<string>facepersevering.glif</string>
	<key>facepouting</key>
	<string>facepouting.glif</string>
	<key>facerelieved</key>
	<string>facerelieved.glif</string>
	<key>facesavouringdeliciousfood</key>
	<string>facesavouringdeliciousfood.glif</string>
	<key>facescreaminginfear</key>
	<string>facescreaminginfear.glif</string>
	<key>facesleeping</key>
	<string>facesleeping.glif</string>
	<key>facesleepy</key>
	<string>facesleepy.glif</string>
	<key>facesmile</key>
	<string>facesmile.glif</string>
	<key>facesmilinghalo</key>
	<string>facesmilinghalo.glif</string>
	<key>facesmilingheartshapedeyes</key>
	<string>facesmilingheartshapedeyes.glif</string>
	<key>facesmilinghorns</key>
	<string>facesmilinghorns.glif</string>
	<key>facesmilingopenmouth</key>
	<string>facesmilingopenmouth.glif</string>
	<key>facesmilingopenmouthcoldsweat</key>
	<string>facesmilingopenmouthcoldsweat.glif</string>
	<key>facesmilingopenmouthsmilingeyes</key>
	<string>facesmilingopenmouthsmilingeyes.glif</string>
	<key>facesmilingopenmouthtightlyclosedeyes</key>
	<string>facesmilingopenmouthtightlyclosedeyes.glif</string>
	<key>facesmilingsmilingeyes</key>
	<string>facesmilingsmilingeyes.glif</string>
	<key>facesmilingsunglasses</key>
	<string>facesmilingsunglasses.glif</string>
	<key>facesmirking</key>
	<string>facesmirking.glif</string>
	<key>facesneezing</key>
	<string>facesneezing.glif</string>
	<key>facesneezing.copy_1</key>
	<string>facesneezing.copy_1.glif</string>
	<key>facestuckouttongue</key>
	<string>facestuckouttongue.glif</string>
	<key>facestuckouttongueandtightlyclosedeyes</key>
	<string>facestuckouttongueandtightlyclosedeyes.glif</string>
	<key>facestuckouttongueandwinkingeye</key>
	<string>facestuckouttongueandwinkingeye.glif</string>
	<key>facethermometer</key>
	<string>facethermometer.glif</string>
	<key>facethinking</key>
	<string>facethinking.glif</string>
	<key>facethrowingakiss</key>
	<string>facethrowingakiss.glif</string>
	<key>facetired</key>
	<string>facetired.glif</string>
	<key>facetriumphlook</key>
	<string>facetriumphlook.glif</string>
	<key>faceunamused</key>
	<string>faceunamused.glif</string>
	<key>faceupsidedown</key>
	<string>faceupsidedown.glif</string>
	<key>faceweary</key>
	<string>faceweary.glif</string>
	<key>facewinking</key>
	<string>facewinking.glif</string>
	<key>facewithoutmouth</key>
	<string>facewithoutmouth.glif</string>
	<key>faceworried</key>
	<string>faceworried.glif</string>
	<key>fencer</key>
	<string>fencer.glif</string>
	<key>flatbreadstuffed</key>
	<string>flatbreadstuffed.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>glasstumbler</key>
	<string>glasstumbler.glif</string>
	<key>gloveboxing</key>
	<string>gloveboxing.glif</string>
	<key>goalnet</key>
	<string>goalnet.glif</string>
	<key>goalnet.copy_1</key>
	<string>goalnet.copy_1.glif</string>
	<key>gorilla</key>
	<string>gorilla.glif</string>
	<key>gorilla.copy_1</key>
	<string>gorilla.copy_1.glif</string>
	<key>gorilla.copy_2</key>
	<string>gorilla.copy_2.glif</string>
	<key>grin</key>
	<string>grin.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>handball</key>
	<string>handball.glif</string>
	<key>heart</key>
	<string>heart.glif</string>
	<key>heartblackheavy</key>
	<string>heartblackheavy.glif</string>
	<key>juggling</key>
	<string>juggling.glif</string>
	<key>keyeight</key>
	<string>keyeight.glif</string>
	<key>keyfive</key>
	<string>keyfive.glif</string>
	<key>keyfour</key>
	<string>keyfour.glif</string>
	<key>keynine</key>
	<string>keynine.glif</string>
	<key>keyone</key>
	<string>keyone.glif</string>
	<key>keyseven</key>
	<string>keyseven.glif</string>
	<key>keysix</key>
	<string>keysix.glif</string>
	<key>keythree</key>
	<string>keythree.glif</string>
	<key>keytwo</key>
	<string>keytwo.glif</string>
	<key>keyzero</key>
	<string>keyzero.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lizard</key>
	<string>lizard.glif</string>
	<key>lock</key>
	<string>lock.glif</string>
	<key>medalfirstplace</key>
	<string>medalfirstplace.glif</string>
	<key>medalsecondplace</key>
	<string>medalsecondplace.glif</string>
	<key>medalsports</key>
	<string>medalsports.glif</string>
	<key>medalthirdplace</key>
	<string>medalthirdplace.glif</string>
	<key>mooncrescentwaning</key>
	<string>mooncrescentwaning.glif</string>
	<key>mooncrescentwaxing</key>
	<string>mooncrescentwaxing.glif</string>
	<key>moonfacefull</key>
	<string>moonfacefull.glif</string>
	<key>moonfacenew</key>
	<string>moonfacenew.glif</string>
	<key>moonfirstquarter</key>
	<string>moonfirstquarter.glif</string>
	<key>moonfull</key>
	<string>moonfull.glif</string>
	<key>moongibbouswaning</key>
	<string>moongibbouswaning.glif</string>
	<key>moongibbouswaxing</key>
	<string>moongibbouswaxing.glif</string>
	<key>moonlastquarter</key>
	<string>moonlastquarter.glif</string>
	<key>moonnew</key>
	<string>moonnew.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>panoffoodshallow</key>
	<string>panoffoodshallow.glif</string>
	<key>pentathlonmodern</key>
	<string>pentathlonmodern.glif</string>
	<key>persondoingcartwheel</key>
	<string>persondoingcartwheel.glif</string>
	<key>polowater</key>
	<string>polowater.glif</string>
	<key>polowater.copy_1</key>
	<string>polowater.copy_1.glif</string>
	<key>poopile</key>
	<string>poopile.glif</string>
	<key>rhinoceros</key>
	<string>rhinoceros.glif</string>
	<key>rhinoceros.copy_1</key>
	<string>rhinoceros.copy_1.glif</string>
	<key>rifle</key>
	<string>rifle.glif</string>
	<key>robotface</key>
	<string>robotface.glif</string>
	<key>saladgreen</key>
	<string>saladgreen.glif</string>
	<key>spade</key>
	<string>spade.glif</string>
	<key>spoon</key>
	<string>spoon.glif</string>
	<key>sunface</key>
	<string>sunface.glif</string>
	<key>trolleyshopping</key>
	<string>trolleyshopping.glif</string>
	<key>uniformmartialarts</key>
	<string>uniformmartialarts.glif</string>
	<key>wrestlers</key>
	<string>wrestlers.glif</string>
</dict>
</plist>
