<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ABsquareblack</key>
		<string>A_B_squareblack.glif</string>
		<key>Aregionindicator</key>
		<string>A_regionindicator.glif</string>
		<key>Asquareblack</key>
		<string>A_squareblack.glif</string>
		<key>BACKarrowaboveleft</key>
		<string>B_A_C_K_arrowaboveleft.glif</string>
		<key>Bregionindicator</key>
		<string>B_regionindicator.glif</string>
		<key>Bsquareblack</key>
		<string>B_squareblack.glif</string>
		<key>CLsquare</key>
		<string>C_L_square.glif</string>
		<key>COOLsquare</key>
		<string>C_O_O_L_square.glif</string>
		<key>Cregionindicator</key>
		<string>C_regionindicator.glif</string>
		<key>Dregionindicator</key>
		<string>D_regionindicator.glif</string>
		<key>ENDarrowaboveleft</key>
		<string>E_N_D_arrowaboveleft.glif</string>
		<key>Eregionindicator</key>
		<string>E_regionindicator.glif</string>
		<key>FREEsquare</key>
		<string>F_R_E_E_square.glif</string>
		<key>Fregionindicator</key>
		<string>F_regionindicator.glif</string>
		<key>Gregionindicator</key>
		<string>G_regionindicator.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>Hregionindicator</key>
		<string>H_regionindicator.glif</string>
		<key>IDsquare</key>
		<string>I_D_square.glif</string>
		<key>Iregionindicator</key>
		<string>I_regionindicator.glif</string>
		<key>Jregionindicator</key>
		<string>J_regionindicator.glif</string>
		<key>Kregionindicator</key>
		<string>K_regionindicator.glif</string>
		<key>Lregionindicator</key>
		<string>L_regionindicator.glif</string>
		<key>Mregionindicator</key>
		<string>M_regionindicator.glif</string>
		<key>NEWsquare</key>
		<string>N_E_W_square.glif</string>
		<key>NGsquare</key>
		<string>N_G_square.glif</string>
		<key>Nregionindicator</key>
		<string>N_regionindicator.glif</string>
		<key>OKsquare</key>
		<string>O_K_square.glif</string>
		<key>ONexclamarrowaboveleftright</key>
		<string>O_N_exclamarrowaboveleftright.glif</string>
		<key>Oregionindicator</key>
		<string>O_regionindicator.glif</string>
		<key>Osquareblack</key>
		<string>O_squareblack.glif</string>
		<key>Pregionindicator</key>
		<string>P_regionindicator.glif</string>
		<key>Psquareblack</key>
		<string>P_squareblack.glif</string>
		<key>Qregionindicator</key>
		<string>Q_regionindicator.glif</string>
		<key>Rregionindicator</key>
		<string>R_regionindicator.glif</string>
		<key>SOONarrowaboveright</key>
		<string>S_O_O_N_arrowaboveright.glif</string>
		<key>SOSsquare</key>
		<string>S_O_S_square.glif</string>
		<key>Sregionindicator</key>
		<string>S_regionindicator.glif</string>
		<key>TOParrowaboveup</key>
		<string>T_O_P_arrowaboveup.glif</string>
		<key>Tregionindicator</key>
		<string>T_regionindicator.glif</string>
		<key>UPexclamsquare</key>
		<string>U_P_exclamsquare.glif</string>
		<key>Uregionindicator</key>
		<string>U_regionindicator.glif</string>
		<key>VSsquare</key>
		<string>V_S_square.glif</string>
		<key>Vregionindicator</key>
		<string>V_regionindicator.glif</string>
		<key>Wregionindicator</key>
		<string>W_regionindicator.glif</string>
		<key>Xregionindicator</key>
		<string>X_regionindicator.glif</string>
		<key>Yregionindicator</key>
		<string>Y_regionindicator.glif</string>
		<key>Zregionindicator</key>
		<string>Z_regionindicator.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>acceptideocircle</key>
		<string>acceptideocircle.glif</string>
		<key>advantageideocircle</key>
		<string>advantageideocircle.glif</string>
		<key>alien</key>
		<string>alien.glif</string>
		<key>ampersandheavy</key>
		<string>ampersandheavy.glif</string>
		<key>arrowboth</key>
		<string>arrowboth.glif</string>
		<key>arrowdownblack</key>
		<string>arrowdownblack.glif</string>
		<key>arrowdownleft</key>
		<string>arrowdownleft.glif</string>
		<key>arrowdownright</key>
		<string>arrowdownright.glif</string>
		<key>arrowleftblack</key>
		<string>arrowleftblack.glif</string>
		<key>arrowrightblack</key>
		<string>arrowrightblack.glif</string>
		<key>arrowupblack</key>
		<string>arrowupblack.glif</string>
		<key>arrowupdn</key>
		<string>arrowupdn.glif</string>
		<key>arrowupleft</key>
		<string>arrowupleft.glif</string>
		<key>arrowupright</key>
		<string>arrowupright.glif</string>
		<key>baguette</key>
		<string>baguette.glif</string>
		<key>ballotboxcheck</key>
		<string>ballotboxcheck.glif</string>
		<key>banknotedollar</key>
		<string>banknotedollar.glif</string>
		<key>banknoteeuro</key>
		<string>banknoteeuro.glif</string>
		<key>banknotepound</key>
		<string>banknotepound.glif</string>
		<key>banknoteyen</key>
		<string>banknoteyen.glif</string>
		<key>beans</key>
		<string>beans.glif</string>
		<key>beans.copy_1</key>
		<string>beans.copy_1.glif</string>
		<key>beans.copy_2</key>
		<string>beans.copy_2.glif</string>
		<key>beveragehot</key>
		<string>beveragehot.glif</string>
		<key>borderdotted</key>
		<string>borderdotted.glif</string>
		<key>bulletsquare</key>
		<string>bulletsquare.glif</string>
		<key>bulletsquarewhite</key>
		<string>bulletsquarewhite.glif</string>
		<key>butterfly</key>
		<string>butterfly.glif</string>
		<key>canoe</key>
		<string>canoe.glif</string>
		<key>cartwheeler</key>
		<string>cartwheeler.glif</string>
		<key>catfacecrying</key>
		<string>catfacecrying.glif</string>
		<key>catfacekissingclosedeyes</key>
		<string>catfacekissingclosedeyes.glif</string>
		<key>catfacepouting</key>
		<string>catfacepouting.glif</string>
		<key>catfacewrysmile</key>
		<string>catfacewrysmile.glif</string>
		<key>cheese</key>
		<string>cheese.glif</string>
		<key>cjk5272square</key>
		<string>cjk5272square.glif</string>
		<key>cjk5408square</key>
		<string>cjk5408square.glif</string>
		<key>cjk55B6square</key>
		<string>cjk55B_6square.glif</string>
		<key>cjk6307square</key>
		<string>cjk6307square.glif</string>
		<key>cjk6708square</key>
		<string>cjk6708square.glif</string>
		<key>cjk6709square</key>
		<string>cjk6709square.glif</string>
		<key>cjk6E80square</key>
		<string>cjk6E_80square.glif</string>
		<key>cjk7121square</key>
		<string>cjk7121square.glif</string>
		<key>cjk7533square</key>
		<string>cjk7533square.glif</string>
		<key>cjk7981square</key>
		<string>cjk7981square.glif</string>
		<key>cjk7A7Asquare</key>
		<string>cjk7A_7A_square.glif</string>
		<key>club</key>
		<string>club.glif</string>
		<key>club.copy_1</key>
		<string>club.copy_1.glif</string>
		<key>congratulationideocircle</key>
		<string>congratulationideocircle.glif</string>
		<key>copyright</key>
		<string>copyright.glif</string>
		<key>creditcard</key>
		<string>creditcard.glif</string>
		<key>deer</key>
		<string>deer.glif</string>
		<key>diamond</key>
		<string>diamond.glif</string>
		<key>diamond.copy_1</key>
		<string>diamond.copy_1.glif</string>
		<key>dollarheavy</key>
		<string>dollarheavy.glif</string>
		<key>drum</key>
		<string>drum.glif</string>
		<key>eggs</key>
		<string>eggs.glif</string>
		<key>exclamdbl</key>
		<string>exclamdbl.glif</string>
		<key>exclamheavy</key>
		<string>exclamheavy.glif</string>
		<key>exclamquestion</key>
		<string>exclamquestion.glif</string>
		<key>exclamwhite</key>
		<string>exclamwhite.glif</string>
		<key>face</key>
		<string>face.glif</string>
		<key>faceangry</key>
		<string>faceangry.glif</string>
		<key>faceanguished</key>
		<string>faceanguished.glif</string>
		<key>faceastonished</key>
		<string>faceastonished.glif</string>
		<key>facebandage</key>
		<string>facebandage.glif</string>
		<key>facecoldsweat</key>
		<string>facecoldsweat.glif</string>
		<key>faceconfounded</key>
		<string>faceconfounded.glif</string>
		<key>faceconfused</key>
		<string>faceconfused.glif</string>
		<key>facecrying</key>
		<string>facecrying.glif</string>
		<key>facedisappointed</key>
		<string>facedisappointed.glif</string>
		<key>facedisappointedbutrelieved</key>
		<string>facedisappointedbutrelieved.glif</string>
		<key>facedizzy</key>
		<string>facedizzy.glif</string>
		<key>faceexpressionless</key>
		<string>faceexpressionless.glif</string>
		<key>faceeyesrolling</key>
		<string>faceeyesrolling.glif</string>
		<key>facefearful</key>
		<string>facefearful.glif</string>
		<key>faceflushed</key>
		<string>faceflushed.glif</string>
		<key>facefrowningopenmouth</key>
		<string>facefrowningopenmouth.glif</string>
		<key>facegrimacing</key>
		<string>facegrimacing.glif</string>
		<key>facegrinning</key>
		<string>facegrinning.glif</string>
		<key>facegrinningsmilingeyes</key>
		<string>facegrinningsmilingeyes.glif</string>
		<key>facehugging</key>
		<string>facehugging.glif</string>
		<key>facehushed</key>
		<string>facehushed.glif</string>
		<key>facejoytears</key>
		<string>facejoytears.glif</string>
		<key>facekissing</key>
		<string>facekissing.glif</string>
		<key>facekissingclosedeyes</key>
		<string>facekissingclosedeyes.glif</string>
		<key>facekissingsmilingeyes</key>
		<string>facekissingsmilingeyes.glif</string>
		<key>faceloudlycrying</key>
		<string>faceloudlycrying.glif</string>
		<key>facemassage</key>
		<string>facemassage.glif</string>
		<key>facemedicalmask</key>
		<string>facemedicalmask.glif</string>
		<key>facemmouthmoney</key>
		<string>facemmouthmoney.glif</string>
		<key>facemouthzipper</key>
		<string>facemouthzipper.glif</string>
		<key>facenerd</key>
		<string>facenerd.glif</string>
		<key>faceneutral</key>
		<string>faceneutral.glif</string>
		<key>facenogood</key>
		<string>facenogood.glif</string>
		<key>faceok</key>
		<string>faceok.glif</string>
		<key>faceopenmouth</key>
		<string>faceopenmouth.glif</string>
		<key>faceopenmouthcoldsweat</key>
		<string>faceopenmouthcoldsweat.glif</string>
		<key>facepensive</key>
		<string>facepensive.glif</string>
		<key>facepersevering</key>
		<string>facepersevering.glif</string>
		<key>facepouting</key>
		<string>facepouting.glif</string>
		<key>facerelieved</key>
		<string>facerelieved.glif</string>
		<key>facesavouringdeliciousfood</key>
		<string>facesavouringdeliciousfood.glif</string>
		<key>facescreaminginfear</key>
		<string>facescreaminginfear.glif</string>
		<key>facesleeping</key>
		<string>facesleeping.glif</string>
		<key>facesleepy</key>
		<string>facesleepy.glif</string>
		<key>facesmile</key>
		<string>facesmile.glif</string>
		<key>facesmilinghalo</key>
		<string>facesmilinghalo.glif</string>
		<key>facesmilingheartshapedeyes</key>
		<string>facesmilingheartshapedeyes.glif</string>
		<key>facesmilinghorns</key>
		<string>facesmilinghorns.glif</string>
		<key>facesmilingopenmouth</key>
		<string>facesmilingopenmouth.glif</string>
		<key>facesmilingopenmouthcoldsweat</key>
		<string>facesmilingopenmouthcoldsweat.glif</string>
		<key>facesmilingopenmouthsmilingeyes</key>
		<string>facesmilingopenmouthsmilingeyes.glif</string>
		<key>facesmilingopenmouthtightlyclosedeyes</key>
		<string>facesmilingopenmouthtightlyclosedeyes.glif</string>
		<key>facesmilingsmilingeyes</key>
		<string>facesmilingsmilingeyes.glif</string>
		<key>facesmilingsunglasses</key>
		<string>facesmilingsunglasses.glif</string>
		<key>facesmirking</key>
		<string>facesmirking.glif</string>
		<key>facesneezing</key>
		<string>facesneezing.glif</string>
		<key>facesneezing.copy_1</key>
		<string>facesneezing.copy_1.glif</string>
		<key>facestuckouttongue</key>
		<string>facestuckouttongue.glif</string>
		<key>facestuckouttongueandtightlyclosedeyes</key>
		<string>facestuckouttongueandtightlyclosedeyes.glif</string>
		<key>facestuckouttongueandwinkingeye</key>
		<string>facestuckouttongueandwinkingeye.glif</string>
		<key>facethermometer</key>
		<string>facethermometer.glif</string>
		<key>facethinking</key>
		<string>facethinking.glif</string>
		<key>facethrowingakiss</key>
		<string>facethrowingakiss.glif</string>
		<key>facetired</key>
		<string>facetired.glif</string>
		<key>facetriumphlook</key>
		<string>facetriumphlook.glif</string>
		<key>faceunamused</key>
		<string>faceunamused.glif</string>
		<key>faceupsidedown</key>
		<string>faceupsidedown.glif</string>
		<key>faceweary</key>
		<string>faceweary.glif</string>
		<key>facewinking</key>
		<string>facewinking.glif</string>
		<key>facewithoutmouth</key>
		<string>facewithoutmouth.glif</string>
		<key>faceworried</key>
		<string>faceworried.glif</string>
		<key>fencer</key>
		<string>fencer.glif</string>
		<key>flatbreadstuffed</key>
		<string>flatbreadstuffed.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>glasstumbler</key>
		<string>glasstumbler.glif</string>
		<key>globeamericas</key>
		<string>globeamericas.glif</string>
		<key>globeasiaaustralia</key>
		<string>globeasiaaustralia.glif</string>
		<key>globeeuropeafrica</key>
		<string>globeeuropeafrica.glif</string>
		<key>globemeridians</key>
		<string>globemeridians.glif</string>
		<key>gloveboxing</key>
		<string>gloveboxing.glif</string>
		<key>goalnet</key>
		<string>goalnet.glif</string>
		<key>gorilla</key>
		<string>gorilla.glif</string>
		<key>grin</key>
		<string>grin.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>handball</key>
		<string>handball.glif</string>
		<key>heart</key>
		<string>heart.glif</string>
		<key>heart.copy_1</key>
		<string>heart.copy_1.glif</string>
		<key>heartarrow</key>
		<string>heartarrow.glif</string>
		<key>heartbeating</key>
		<string>heartbeating.glif</string>
		<key>heartblackheavy</key>
		<string>heartblackheavy.glif</string>
		<key>heartblue</key>
		<string>heartblue.glif</string>
		<key>heartbroken</key>
		<string>heartbroken.glif</string>
		<key>heartdecoration</key>
		<string>heartdecoration.glif</string>
		<key>heartexclamheavy</key>
		<string>heartexclamheavy.glif</string>
		<key>heartgreen</key>
		<string>heartgreen.glif</string>
		<key>heartgrowing</key>
		<string>heartgrowing.glif</string>
		<key>heartpurple</key>
		<string>heartpurple.glif</string>
		<key>heartribbon</key>
		<string>heartribbon.glif</string>
		<key>heartsparkling</key>
		<string>heartsparkling.glif</string>
		<key>heartsrevolving</key>
		<string>heartsrevolving.glif</string>
		<key>heartstwo</key>
		<string>heartstwo.glif</string>
		<key>hearttipleft</key>
		<string>hearttipleft.glif</string>
		<key>heartyellow</key>
		<string>heartyellow.glif</string>
		<key>informationsource</key>
		<string>informationsource.glif</string>
		<key>juggling</key>
		<string>juggling.glif</string>
		<key>keyeight</key>
		<string>keyeight.glif</string>
		<key>keyfive</key>
		<string>keyfive.glif</string>
		<key>keyfour</key>
		<string>keyfour.glif</string>
		<key>keynine</key>
		<string>keynine.glif</string>
		<key>keynumbersign</key>
		<string>keynumbersign.glif</string>
		<key>keyone</key>
		<string>keyone.glif</string>
		<key>keyseven</key>
		<string>keyseven.glif</string>
		<key>keysix</key>
		<string>keysix.glif</string>
		<key>keythree</key>
		<string>keythree.glif</string>
		<key>keytwo</key>
		<string>keytwo.glif</string>
		<key>keyzero</key>
		<string>keyzero.glif</string>
		<key>kiwifruit</key>
		<string>kiwifruit.glif</string>
		<key>kiwifruit.copy_1</key>
		<string>kiwifruit.copy_1.glif</string>
		<key>kokokatakanasquare</key>
		<string>kokokatakanasquare.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>lizard</key>
		<string>lizard.glif</string>
		<key>lock</key>
		<string>lock.glif</string>
		<key>medalfirstplace</key>
		<string>medalfirstplace.glif</string>
		<key>medalsecondplace</key>
		<string>medalsecondplace.glif</string>
		<key>medalsports</key>
		<string>medalsports.glif</string>
		<key>medalthirdplace</key>
		<string>medalthirdplace.glif</string>
		<key>milkglass</key>
		<string>milkglass.glif</string>
		<key>mooncrescentwaning</key>
		<string>mooncrescentwaning.glif</string>
		<key>mooncrescentwaxing</key>
		<string>mooncrescentwaxing.glif</string>
		<key>moonfacefull</key>
		<string>moonfacefull.glif</string>
		<key>moonfacenew</key>
		<string>moonfacenew.glif</string>
		<key>moonfirstquarter</key>
		<string>moonfirstquarter.glif</string>
		<key>moonfull</key>
		<string>moonfull.glif</string>
		<key>moongibbouswaning</key>
		<string>moongibbouswaning.glif</string>
		<key>moongibbouswaxing</key>
		<string>moongibbouswaxing.glif</string>
		<key>moonlastquarter</key>
		<string>moonlastquarter.glif</string>
		<key>moonnew</key>
		<string>moonnew.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>pancake</key>
		<string>pancake.glif</string>
		<key>panoffoodshallow</key>
		<string>panoffoodshallow.glif</string>
		<key>peanut</key>
		<string>peanut.glif</string>
		<key>pentathlonmodern</key>
		<string>pentathlonmodern.glif</string>
		<key>polowater</key>
		<string>polowater.glif</string>
		<key>poopile</key>
		<string>poopile.glif</string>
		<key>questionblack</key>
		<string>questionblack.glif</string>
		<key>questionwhite</key>
		<string>questionwhite.glif</string>
		<key>reddragonmahjongtile</key>
		<string>reddragonmahjongtile.glif</string>
		<key>registered</key>
		<string>registered.glif</string>
		<key>rhinoceros</key>
		<string>rhinoceros.glif</string>
		<key>rifle</key>
		<string>rifle.glif</string>
		<key>robotface</key>
		<string>robotface.glif</string>
		<key>sakatakanasquare</key>
		<string>sakatakanasquare.glif</string>
		<key>saladgreen</key>
		<string>saladgreen.glif</string>
		<key>secretideocircle</key>
		<string>secretideocircle.glif</string>
		<key>shrimp</key>
		<string>shrimp.glif</string>
		<key>spade</key>
		<string>spade.glif</string>
		<key>spade.copy_1</key>
		<string>spade.copy_1.glif</string>
		<key>spoon</key>
		<string>spoon.glif</string>
		<key>squid</key>
		<string>squid.glif</string>
		<key>squid.copy_1</key>
		<string>squid.copy_1.glif</string>
		<key>squid.copy_2</key>
		<string>squid.copy_2.glif</string>
		<key>sunface</key>
		<string>sunface.glif</string>
		<key>trademark</key>
		<string>trademark.glif</string>
		<key>trolleyshopping</key>
		<string>trolleyshopping.glif</string>
		<key>uniformmartialarts</key>
		<string>uniformmartialarts.glif</string>
		<key>wrestlers</key>
		<string>wrestlers.glif</string>
	</dict>
</plist>